<script lang="ts" setup>
import { ref,computed } from "vue";
const totalPrice = computed(() => {
  let total = 0;
  for (let i = 0; i < cartItems.value.length; i += 1) {
    total += cartItems.value[i].price;
  }
  return total;
});
const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
const cartItems = ref<any>([]);

const addToCart = (product: any) => {
  cartItems.value.push(product);
};

</script>
<template>
  <v-table>
    <v-row>
      <v-col>
        <v-container class="ma-0">
          <v-table class="of">
            <v-row>
              <v-col>
                <v-content>
                  <v-row>
                    <v-col v-for="product in products" :key="product.id" cols="4">
                      <v-card>
                        <v-card-title>{{ product.name }}</v-card-title>
                        <v-card-subtitle>{{ product.price }}</v-card-subtitle>
                        <v-btn class="butcus" @click="addToCart(product)" color="white">Add</v-btn>

                      </v-card>
                    </v-col>
                  </v-row>
                </v-content>
              </v-col>
            </v-row>
          </v-table>
        </v-container>
      </v-col>

      <v-col>
        <v-container class="list">
        <v-table>
<thead>
  <tr>
    <th class="text-left">ID</th>
                <th class="text-left">Name</th>
                <th class="text-left">Price</th>

  </tr>
</thead>
<tbody>
  <v-if></v-if>
              <tr v-for="item in cartItems" :key="item.id">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
              </tr>

</tbody>
<h3 class="center" v-if="cartItems.length === 0">No Data</h3>
        </v-table>
      </v-container>
      </v-col>
    
    </v-row>
    <v-row>
      <v-col></v-col>
      <v-col>
        <h2>Sum: {{ totalPrice }}</h2>
      </v-col>
    </v-row>
  </v-table>
  
</template>
<style scoped>
.of {
  overflow-y: auto;
  max-height: 700px;
  max-width: 100%;
  text-align: center;
  overflow-x: hidden;
}
.center {
  text-align: center;
  margin-left: 200px;
}
.list {
  background-color: white;
  width: 90%;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}
.butcus {
  width: 115px;
  height: 30px;
  margin-bottom: 5px;
}
</style>

