<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const counterstore = useCounterStore();

</script>
<template>
  <div>First Component</div>
<v-col></v-col>
  <div>{{ counterstore.count }}</div>
  <v-col></v-col>
  <v-btn @click="counterstore.increment">INCREMENT</v-btn>
</template>
