<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";
const counterstore = useCounterStore();

</script>
<template>
  <div>Second Component</div>
  <v-col></v-col>
  <div>{{ counterstore.doubleCount }}</div>
  <v-col></v-col>
  <v-btn @click="counterstore.decrease">DECREASE</v-btn>
</template>
